
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.quiz-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    border-left: 5px solid #007bff;
    padding-left: 10px;
    transition: color 0.3s;
}

.question:hover {
    color: #0056b3;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.option input {
    display: none;
}

.option label {
    display: block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.option label:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

.option input:checked + label {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
}

.controls {
    margin-top: 20px;
    text-align: center;
}

.previous,
.next {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.previous:hover,
.next:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.previous:active,
.next:active {
    transform: scale(1);
}

.previous.hidden {
    display: none;
}

.result {
    display: none;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #28a745;
}

.result-description {
    font-size: 16px;
    line-height: 1.5;
}

.result-description a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.result-description a:hover {
    color: #0056b3;
}
